@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";
@import "variables.css";

/*components*/
@import "components/footer.css";
@import "components/nav-bar.css";
@import "components/header.css";
/*screen*/
@import "screen/screen-main.css";
@import "screen/screen-story.css";
@import "screen/screen-contents.css";
@import "screen/screen-product.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans kr", sans-serif;
  position: relative;
  line-height: 1.3;
}
