#main__nav {
  margin-top: 5vh;
  padding: 2vh 0;
  position: sticky;
  top: 0;
}

#main__nav-links a {
  font-size: 20px;
}

.header-main {
  height: 86vh;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
  background-image: url("../../img/main/main-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.main__title {
  color: #555555;
  font-size: 30px;
  font-weight: 500;
  padding-top: 36vh;
}
