.contents {
  width: 100%;
}

.character {
  position: relative;
  width: 100%;
  height: 50vw;
}

.character__title {
  margin-bottom: 4vw;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.character__bg-img img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.character__text {
  margin: 34vw 0 0 40vw;
  width: 30vw;
  height: 8vw;
}

.character__text h3 {
  width: 10vw;
  margin-bottom: 1vw;
  font-size: 1.6vw;
  font-weight: 600;
}

.character__text span {
  font-size: 1vw;
}

.sns {
  width: 100%;
}

.youtube {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  margin-bottom: 13vw;
}

.youtube__profile {
  padding: 1vw 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #2f363e;
}

.youtube__profile img {
  width: 6vw;
  height: auto;
}

.youtube__profile h2 {
  margin-left: 15px;
  font-size: 1.8vw;
  font-weight: 600;
}

.youtube__btn {
  margin-left: 2.8vw;
  padding: 0.2vw 1vw;
  border-radius: 3px;
  background-color: #e53935;
  color: white;
  font-size: 1.1vw;
  font-weight: 400;
  box-shadow: 3px 3px 1px 1px rgba(50, 50, 93, 0.15);
}

.youtube__video {
  padding: 2vw 0;
  display: flex;
  background-color: #ecece8;
}

.youtube__video iframe {
  width: 32vw;
  height: 18vw;
  margin-left: 20vw;
}

.youtube__text {
  margin-left: 5vw;
  margin-top: 3vw;
}

.youtube__text h3 {
  font-size: 1.3vw;
  font-weight: 600;
}

.youtube__text p {
  line-height: 1.5;
  font-size: 1.1vw;
  margin-top: 1.5vw;
}

.insta {
  display: flex;
  flex-direction: column;
}

.insta__profile {
  display: flex;
  width: 45vw;
  margin-top: 5vw;
  margin-left: 25.25vw;
  padding-left: 3vw;
  padding-bottom: 1vw;
  text-decoration: none;
  color: #2f363e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.insta__profile img {
  width: 8.5vw;
  height: 8.5vw;
}

.insta__link {
  margin-left: 5vw;
}

.insta__ID {
  margin-bottom: 1vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.insta__ID h3 {
  font-size: 1.1vw;
  font-weight: 600;
}

.insta__btn {
  margin-left: 2.8vw;
  padding: 0.2vw 1vw;
  border-radius: 3px;
  background-color: #0095f6;
  color: white;
  font-size: 1.1vw;
  font-weight: 400;
  box-shadow: 3px 3px 1px 1px rgba(50, 50, 93, 0.15);
}

.insta__link p {
  font-size: 1vw;
  line-height: 1.5;
  text-align: justify;
}

.insta__link p:last-child {
  color: #466fa3;
  height: 2vw;
}

.insta__imges {
  margin: 2vw 21vw 5vw 21vw;
  width: 58vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.insta__imges a {
  text-decoration: none;
  font-size: 1vw;
  width: 15vw;
  height: 16.5vw;
  margin-right: 1.5vw;
}

.insta__img {
  width: 15vw;
  height: 16.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: auto;
  z-index: -1;
}

.insta__img-hover {
  color: rgba(0, 0, 0, 0);
}

.insta__imges a:hover img {
  filter: brightness(60%);
}

.insta__imges a:hover .insta__img-hover {
  color: white;
}
