.main-story {
  width: 100%;
}

.story-problems {
  width: 63vw;
  margin: 3vw 18.5vw;
  padding-bottom: 3vw;
}

.story_title {
  width: 50%;
  height: 5vw;
  margin: 3vw 25% 8vw 25%;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.story_intro {
  margin-bottom: 10vw;
  width: 63vw;
  height: 28vw;
  display: flex;
  justify-content: space-between;
}

.story_intro-text {
  padding-top: 11vw;
  width: 20vw;
  height: 20vw;
  font-size: 1.3vw;
}

.story_intro-text p:last-child {
  margin-top: 2vw;
  font-weight: 600;
}

.story_intro-img img {
  width: 39vw;
  height: 26vw;
}

.story_problem {
  margin: 13vw 0;
  width: 63vw;
  height: 30vw;
  display: flex;
  justify-content: space-between;
}

.story_problem-text {
  padding-top: 17vw;
  width: 30vw;
  height: 20vw;
  font-size: 1.3vw;
}

.story_problem-text p:first-child {
  font-weight: 600;
  padding-bottom: 2vw;
}

.story_problem-text p:last-child {
  width: 26.25vw;
  text-align: justify;
}

.story_problem-img img {
  width: 30vw;
  height: 36vw;
}
.story_problems-img_front img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25vw;
  height: 25vw;
  box-shadow: -80px -80px 10px 10px rgba(54, 44, 138, 0.1);
}
.story_trying {
  width: 100%;
  height: 30vw;
  position: relative;
}

.story_trying h2 {
  display: block;
  color: white;
  padding: 10vw 0 10vw 18.5vw;
  width: 50vw;
  height: 20vw;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2;
}

.story_trying h2 span {
  font-size: 1.6vw;
  font-weight: 900;
}

.story-trying_bg {
  position: absolute;
  filter: brightness(50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 30vw;
  z-index: -1;
}

.story_work {
  border-top: 1px solid seagreen;
  padding: 13vw 0 10vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.story_work-title {
  margin-bottom: 2vw;
  text-align: center;
  font-size: 1.5vw;
}

.story_work-icon_columns {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story_work-icon_column {
  margin: 0px 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story_work-icon_column a {
  text-decoration: none;
  color: #2f363e;
}

.story_work-icon_column:hover .story_work-icon_text {
  background: linear-gradient(to right, #eecb27, #8ecc68, #40ba65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.story_work-icon img {
  width: 10vw;
  height: 10vw;
}

.story_work-icon_text {
  margin-top: 1vw;
  text-align: center;
  font-size: 1.1vw;
}

.story_work-icon_text strong {
  font-size: 1.5vw;
  font-weight: 600;
}
