#main__nav {
  margin-top: 5vh;
  padding: 2vh 0;
  position: sticky;
  top: 0;
}

#main__nav-links a {
  font-size: 20px;
}

.header-main {
  height: 86vh;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
  background-image: url("../../img/main/main-bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.main__title {
  color: #555555;
  font-size: 30px;
  font-weight: 500;
  padding-top: 36vh;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.businesses {
  margin-top: 20vh;
  display: flex;
  width: 868px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.business {
  width: 400px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.business__title {
  margin-bottom: 5vh;
  text-align: center;
}

.business__title h3 {
  font-size: 24px;
  font-weight: 300;
}

.business__title h2 {
  font-size: 40px;
  font-weight: 600;
}

.business__card {
  position: relative;
  width: 100%;
  height: 60vh;
  max-height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.business__card img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card__information {
  margin-top: 5vh;
  width: 267px;
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.card__information p {
  padding: 15px 0 5px 0;
  border-bottom: 1px solid #a0a0a0;
}

.card__btn {
  margin-bottom: 5vh;
}

.youth {
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youth__title {
  text-align: center;
  margin-bottom: 5vh;
}

.youth__title h3 {
  font-size: 24px;
  font-weight: 300;
}

.youth__title h2 {
  font-size: 40px;
  font-weight: 600;
}

.youth__title h2 span {
  box-shadow: inset 0 -32px 0 #a4cd53;
}

.youth__img {
  max-width: 100%;
}

.together {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.together__title {
  margin-bottom: 5vh;
  text-align: center;
}

.together__title h3 {
  font-size: 24px;
  font-weight: 300;
}

.together__title h2 {
  font-size: 40px;
  font-weight: 600;
}

.together__title h2 span {
  box-shadow: inset 0 -32px 0 #a4cd53;
}

.together__img {
  width: 100%;
}
