footer {
  font-family: "NanumSquare", sans-serif;
  width: 100%;
  height: 250px;
  background-color: #bdf2d9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 20px;
  width: 58px;
  margin-top: 20px;
}

.company-name {
  margin: 16px 0px;
  font-size: 18px;
  font-weight: 700;
}

.company-info {
  line-height: 1.2;
}

.sns_link {
  width: 200px;
  display: block;
  margin: 20px 0px;
  padding: 5px 10px;
}

.sns_link a {
  margin: 0px 15px;
  color: #2f363e;
}
