.header {
  width: 100%;
  height: 46vw;
  padding-top: 5vw;
  text-align: center;
  color: white;
}

.header__title {
  margin-top: 13vw;
  height: 6vw;
  font-size: 4vw;
  font-weight: 900;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.header__text {
  font-size: 1.3vw;
  font-weight: 500;
}

header a img {
  margin-top: 14vw;
  width: 3vw;
  height: 3vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
