header {
  width: 100%;
  height: 46vw;
  padding-top: 5vw;
  text-align: center;
  color: white;
}

.header_title {
  margin-top: 13vw;
  height: 8vw;
  font-size: 6vw;
  font-weight: 900;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.header_text {
  margin-top: 2vw;
  font-weight: 500;
}

.header-story a img {
  margin-top: 8vw;
  width: 3vw;
  height: 3vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
