.nav-bar {
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
}

.nav-bar_main {
  display: flex;
  align-items: center;
  margin-left: 3vw;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: var(--green);
}

.nav-bar_main-logo {
  height: 35px;
  width: 35px;
  filter: contrast(80%);
  filter: hue-rotate(-20deg);
}

.nav-bar_main-text {
  width: 100px;
  padding-top: 10px;
  padding-right: 30px;
}

.nav-bar_column {
  padding: 10px;
}

.nav-bar_column-link {
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 5;
}

.nav-bar_column-link a {
  margin-right: 4vw;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: #2f363e;
}

.nav-bar_column-link a:hover {
  color: #8ecc68;
  transition: 0.3s linear;
}

#link_story {
  color: #8ecc68;
  border-bottom: 3px solid #8ecc68;
}

#link_contents {
  color: #8ecc68;
  border-bottom: 3px solid #8ecc68;
}
